# need to set the config
# https://www.odoo.com/documentation/16.0/reference/cmdline.html#configuration-file
# https://linuxize.com/post/how-to-deploy-odoo-11-on-ubuntu-18-04/

[options]
; addons, comma separated list of pathes from which odoo should load its addons
; /opt/odoo/odoo16/addons is the default addons path
; /opt/custom-odoo-addons includes our custom developed addons
addons_path = /opt/odoo/odoo16/addons,/opt/custom-odoo-addons

; The database management screens are protected by the admin_passwd setting.
; This setting can only be set using configuration files, and is simply checked
; before performing database alterations. It should be set to a randomly generated
; value to ensure third parties can not use this interface.
admin_passwd = {{ odoo_admin_password }}

; Data Dir for Sessions etc.
data_dir = /opt/odoo/.local/share/Odoo

; Database
; https://www.odoo.com/documentation/16.0/reference/cmdline.html#database
db_host = localhost
db_maxconn = 64
db_port = 5432
{% if odoo_preseed %}
db_name = odoo_preseed
{% else %}
db_name = False
{% endif %}
db_user = odoo
db_password = odoo_secret
db_template = template0
list_db = True
#dbfilter = *

; SMTP
email_from = mail@{{ odoo_domain }}
smtp_server = localhost
smtp_port = {{ mailpit_smtp_port }}

; GeoIP from Maxmind
; registration with maxmind and download of the database is required
; https://www.odoo.com/documentation/user/1.0/website/publish/on-premise_geo-ip-installation.html
; https://dev.maxmind.com/geoip/geoipupdate/
; geoip_database = /usr/share/GeoIP/GeoLite2-City.mmdb

; HTTP
http_enable = True
http_port = 8069
http_interface = 127.0.0.1
xmlrpc_interface = 127.0.0.1
netrpc_interface = 127.0.0.1
#longpolling_port = False
gevent_port = 8072
proxy_mode = True
; Make odoo listen on localhost for proxy

; Tuning
limit_memory_hard = 2684354560
limit_memory_soft = 2147483648
limit_request = 8192
limit_time_cpu = 600
limit_time_real = 1200
limit_time_real_cron = -1
max_cron_threads = 2
#osv_memory_age_limit = 1.0
transient_age_limit = 1.0
osv_memory_count_limit = False
workers = 2

; Logging
log_db = False
log_db_level = debug
log_handler = :DEBUG
log_level = debug
logfile = /var/log/odoo/odoo.log
logrotate = True

#-----------------------------------------------------------------------------
# disable loading demo data for modules to be installed (comma-separated, use
# "all" for all modules). Default is none
#-----------------------------------------------------------------------------
#without_demo =
demo = {}
without_demo = False
