# https://linuxize.com/post/configure-odoo-with-nginx-as-a-reverse-proxy/

upstream adminer {
  server adminer.lokal:8080;
}

server {
  server_name {{ adminer_domain }};
  listen 80;
  listen [::]:80;

  access_log /var/log/nginx/adminer.access.log;
  error_log /var/log/nginx/adminer.error.log;

  location / {
    proxy_set_header X-Forwarded-Prefix "/";
    proxy_pass http://adminer/;
  }

  #proxy_read_timeout 720s;
  #proxy_connect_timeout 720s;
  #proxy_send_timeout 720s;
  #proxy_set_header X-Forwarded-Host $host;
  #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  #proxy_set_header X-Forwarded-Proto $scheme;
  #proxy_set_header X-Real-IP $remote_addr;
  #client_max_body_size 1024M;
  #client_body_buffer_size 1024M;
  #add_header X-Frame-Options SAMEORIGIN;

  #location / {
  #  proxy_redirect off;
  #  proxy_pass http://odoo;
  #}

  # gzip
  #gzip_types text/css text/less text/plain text/xml application/xml application/json application/javascript;
  #gzip on;
}
