---

- hosts: all
  become: true
  become_method: sudo

  vars:
    wkhtmltopdf_install_google_fonts: False
    postgresql_version: 16
    postgresql_listen: "0.0.0.0"
    postgresql_databases:
    - name: odoo_preseed
      encoding: UTF-8
      extensions: []
      state: present
      schemas:
      - name: odoo_preseed
        state: present
    postgresql_users:
    - name: odoo
      password: odoo_secret
      state: present
      role_attr_flags: CREATEDB,NOSUPERUSER
      privileges:
      - database: odoo_preseed
        privs: "All"
        state: present
      hosts:
      - cidr: localhost
        database: odoo_preseed
        state: present
      - cidr: 0.0.0.0/0
        database: odoo_preseed
        state: present
    mailpit_domain: mail.odoo.lokal
    pgadmin_domain: pgadmin.odoo.lokal
    pgadmin_email: admin@pgadmin.odoo.lokal
    pgadmin_password: admin
    odoo_domain: odoo.lokal
    odoo_additional_domains: "www.odoo.lokal shop.odoo.lokal"
    odoo_admin_password: P@ssw0rd!
    odoo_preseed: false
    # Maxmind -> if custom_vars are set, these variables will be overwritten
    maxmind_account_id: __ID__
    maxmind_license_key: __KEY__
    maxmind_edition_ids: __EDITIONS__
    maxmind_geoipupdate_run: false
    maxmind_geoipupdate_cron: false
    odoo_release: 17
    odoo_source_install: true
    odoo_config:
    - key: admin_passwd
      value: "P@ssw0rd!"
    - key: db_host
      value: "localhost"
    - key: db_port
      value: "5432"
    - key: db_user
      value: "odoo"
    - key: db_password
      value: "odoo_secret"
    - key: addons_path
      value: "/opt/odoo/odoo17/addons,/opt/custom-odoo-addons"
    - key: default_productivity_apps
      value: "False"
    - key: email_from
      value: mail@odoo.lokal
    - key: smtp_server
      value: localhost
    - key: smtp_port
      value: 1025
    - key: geoip_city_db
      value: /usr/share/GeoIP/GeoLite2-City.mmdb
    - key: geoip_country_db
      value: /usr/share/GeoIP/GeoLite2-Country.mmdb
    - key: proxy_mode
      value: "True"

  pre_tasks:
  - name: check for file custom_vars.yml
    stat:
      path: custom_vars.yml
    register: stat_custom_vars
  - name: load custom vars, if existent
    include_vars:
      file: custom_vars.yml
    when: stat_custom_vars.stat.exists

  roles:
  - andrelohmann.root_colored_prompt
  - andrelohmann.mailpit
  - pgadmin
  - andrelohmann.nodesource
  - andrelohmann.wkhtmltopdf
  - andrelohmann.postgresql
  - andrelohmann.maxmind
  - andrelohmann.odoo
  - proxy

  tasks:
  - name: install useful packages
    ansible.builtin.apt:
      name: "{{ packages }}"
      state: latest
      dpkg_options: 'force-confnew,force-confdef'
      autoclean: yes
      autoremove: yes
      update_cache: yes
      cache_valid_time: 3600
    vars:
      packages:
      - net-tools
      - telnet

...
