<VirtualHost *:8080>
    ServerAdmin email@{{ adminer_domain }}
    ServerName {{ adminer_domain }}
    DocumentRoot /etc/adminer

    ErrorLog ${APACHE_LOG_DIR}/adminer-error.log
    CustomLog ${APACHE_LOG_DIR}/adminer-access.log combined

    <Directory /etc/adminer>
        Require all granted
        DirectoryIndex conf.php
    </Directory>

</VirtualHost>
